@media screen and (min-width: 800px) {
.eme-calendar-full
{
  padding-left: 10vw;
  padding-right: 10vw;
}
}

@media screen and (max-width: 800px) {
#calendrier p, #calendrier h2{
  padding-left: 10vh;
  padding-right: 10vh;
}
}
