/*Fin de style-reserviste*/



/*Debut de monsuperstyle*/


@media (min-width: 991px) {
    ul#menu-menu.menu {
        display: flex !important;
        justify-content: space-between;
        width: 100%;
        box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    }

    .menu-item {
        flex: auto;
    }

    /*ul#menu-menu.menu .item-menu .submenu /*.link-menu {
        padding: 15px;
        color: black;
        transition: .4s;
        cursor: pointer;
    }*/

    ul#menu-menu.menu .menu-item /*.link-menu*/ {
        padding: 15px;
        color: white;
        transition: .4s;
        cursor: pointer;
    }

    .menu-item /*.link-menu:hover*/ {
        color: orange;
    }

    .navegacao-mobile {
        display: none !important;
    }

}

.navegacao-mobile {
    background: #ccc;
    padding: 10px;
    width: 53px;
    cursor: pointer;
}

.linha-menu {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background: #555;
    margin: 4px;
    display: block;
}

.input-menu-all {
    display: none !important;
}

ul#menu-menu.menu {
    display: none;
    width: 100%;
    background: black; /*barre de menu*/
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
}

.menu-item {
    flex: auto;
}

.menu-item /*.link-menu*/ { /*menu carré*/
    padding: 15px;
    color: black;
    display: block;
    transition: .4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.input-menu-all:checked ~ ul#menu-menu.menu {
    display: block;
}

.input-menu-all:checked ~ ul#menu-menu.menu /*.link-menu*/ {
    text-align: left;
}

.submenu { /*pour cacher les sous menu avec display none*/
    display: none;
    box-shadow: 0 1px 2px #CCC;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

ul li:hover .submenu { /*pour voir les sous menus */
    display: block;
}

ul li {
    float: left;
    width: 100%;
    position: relative;
}

ul > li > a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

ul#menu-menu.menu > img {
    height: 35px;
    width: 35px;
    margin-top: 10px;
}

ul#menu-menu.menu > img:nth-child(1) {
    height: 70px;
    width: 70px;
}

.linha-menu {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background: #555;
    margin: 4px;
    display: block;
}

.input-menu-all {
    display: none !important;
}

/* A mettre en commentaire*/


@media (min-width: 991px) {
    /*sur ordi*/
    /* .menu-content {
         max-width: 800px;
         width: 100%;
         margin: 0 auto;
         display: block;
     }*/
    /*.menu-menu-container {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        display: block;
    }*/
    /*.list-menu {
        display: flex!important;
        justify-content: space-between;
        width: 100%;
        box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    }*/

    ul#menu-menu.menu {
        display: flex !important;
        justify-content: space-between;
        width: 100%;
        box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    }

    .menu-item {
        flex: auto;
    }

    /*.list-menu .item-menu .sous .link-menu {
        padding: 15px;
        color: black;
        transition: .4s;
        cursor: pointer;
    }*/
    ul#menu-menu.menu .item-menu .submenu /*.link-menu*/
    {
        padding: 15px;
        color: black;
        transition: .4s;
        cursor: pointer;
    }


    .navegacao-mobile {
        display: none !important;
    }
}

.navegacao-mobile {
    background: #ccc;
    padding: 10px;
    width: 53px;
    cursor: pointer;
}

.linha-menu {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background: #555;
    margin: 4px;
    display: block;
}

.input-menu-all {
    display: none !important;
}

/*.list-menu {
    display: none;
    width: 100%;
    background: black; /*barre de menu
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
}*/

ul#menu-menu.menu {
    display: none;
    width: 100%;
    background: black; /*barre de menu*/
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
}

.item-menu {
    flex: auto;
}

.item-menu /*.link-menu*/
{ /*menu carré*/
    padding: 15px;
    color: black;
    display: block;
    transition: .4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/*.input-menu-all:checked ~ .list-menu {
    display: block;
}*/

.input-menu-all:checked ~ ul#menu-menu.menu {
    display: block;
}

/*.input-menu-all:checked ~ .list-menu /*.link-menu  {
    text-align: left;
}*/

.input-menu-all:checked ~ ul#menu-menu.menu /*.link-menu*/
{
    text-align: left;
}

/*.sous{ /*pour cacher les sous menu avec display none
    display: none;
    box-shadow: 0 1px 2px #CCC;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: white;
}*/

.submenu { /*pour cacher les sous menu avec display none*/
    display: none;
    box-shadow: 0 1px 2px #CCC;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: white;
}


/*ul li:hover .sous{ /*pour voir les sous menu
    display: block;
}*/

ul li:hover .submenu { /*pour voir les sous menu */
    display: block;
}


ul li {
    float: left;
    width: 100%;
    position: relative;
}

ul > li > a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

/*.list-menu > img{
    height: 35px;
    width: 35px;
    margin-top: 10px;
}*/

ul#menu-menu.menu > img {
    height: 35px;
    width: 35px;
    margin-top: 10px;
}


/*.list-menu > img:nth-child(1){
    height: 70px;
    width: 70px;
}*/

ul#menu-menu.menu > img:nth-child(1) {
    height: 70px;
    width: 70px;
}

