

/*////////////////////////////////////////////////Baniere de titre///////////////////////////////////////////////////////*/

.articleBanner
{
    margin-top: 20px;
    background-repeat: no-repeat;
}

.articleBanner > .slogan {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 5fr 3fr 5fr;
    height: 28vh;
    width: 100vw;
}

.articleBanner > .slogan > h1 {
    font-size: 50px;
    font-weight: normal;
    grid-column-start: 2;
}

.articleBanner > .slogan > img {
    grid-column-start: 4;
}

/*pour la page événements*/

#event {
    width: 100%;
}

#event div.entete {
    width: 100%;
    padding: 5vw;
}

#event div.liste {
    width: 100%;
    margin-bottom: 50px;
}

#event .grille ul {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 35vh;
    grid-column-gap: 5%;
    grid-row-gap: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

@media (max-width: 700px) {
    #event .grille ul {
        grid-template-columns: 100%;
    }
}

#event .grille {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#event .article .texte {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    color: white;
    padding: 10px;
}

#event .article {
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition: .5s;
    height: 100%;
}

#event .article h4
{
    margin-top: 0;
}

#event .article:hover {
    transform: scale(1.2);
    transition: .5s;
}

#event .grille ul li a
{
    margin: 0;
}

#event h2
{
    text-align: center;
}
