/*elements avec header dedans*/


/*Styles generaux*/

header {
    width: 100%;
    margin: 0;
    z-index: 999;
    display: flex;
    position: fixed;
}

header a {
    text-decoration: none;
}

header > nav > ul {
    list-style-type: none;
}

header img.menu-image {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

header figure {
    position: relative;
    width: 10vw;
    height: 8vh;
    margin: 2vh 2vh 0 0;
    text-align: center;
    margin-left: 15px;
    float: left;
    flex: 1;
}

header figure img {
    width: 45px;
    height: 45px;
}

header {
    display: inline-block;
}

header li {
    margin: 0;
}

header li > ul {
    margin: 0;
}

header div.menu-menu-container {
    width: 100vw;
    background-color: black;
}


header a {
    line-height: 38px;
}

/*elements avec ul#menu-menu.menu dedans*/

#menu-menu {
    width: 100%;
    position: relative;
}

ul#menu-menu.menu > img {
    height: 35px;
    width: 35px;
    margin-top: 10px;
}

/*elements avec .menu-item dedans*/


header .menu-item {
    padding: 10px;
    display: block;
    transition: .4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

ul li .sub-menu{
    display: none;
    background-color: black;
}

ul li:hover .sub-menu {
    display: block;
}

ul li:hover header {
    background-color: transparent;
}

/*elements avec submenu dedans*/


.submenu li {
    position: absolute;
    background-color: white;
}


li ul.submenu {
    list-style-type: none;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-left: 5%;
    display: none;
    border-radius: 5px;
}

li:hover .submenu {
    display: block;
}

header .submenu li {
    padding: 3px;
}


/*Version Desktop*/



    ul#menu-menu.menu {
        display: flex;
        justify-content: space-between;
    }

    header .menu-item {
        flex: auto;
    }

    header #menu-menu li a {
        padding: 0 10px;
        color: white;
        transition: .4s;
        cursor: pointer;
        display: -webkit-box;
        text-align: left;
    }

    header #menu-menu li a:hover {
        color: orange;
    }

    header .menu-menu-container>ul>.menu-item {
        position: relative;
    }

    header #menu-menu>li>ul {
        position: absolute;
        width: 14vw;
    }

    header #menu-menu>li:last-of-type>ul {
        position: absolute;
        width: 8vw;
    }

/*Styles mobiles*/
@media (max-width: 991px) {
    header div.menu-menu-container {
        height: 100vh;
    }

    header {
        top: 0;
    }

    .lock-scroll {
        overflow: hidden;
    }

    ul#menu-menu.menu {
        display: block;
    }

    #menu-menu{
        padding-top: 100px;
    }

    #menu-menu>li{
        padding: 0 10vh;
        display: flex;
        justify-content: space-between;
    }

    #menu-menu>li:after{
        content: "hello";
    }

    #menu-menu li a {
        padding: 0 10px;
        color: white;
        transition: .4s;
        cursor: pointer;
        display: -webkit-box;
        width: fit-content;
        padding: 0 10px 10px 10px;
    }

    #menu-menu li a:hover {
        color: orange;
    }

    .menu-menu-container>ul>.menu-item {
        position: unset;
    }

    #menu-menu>li>ul {
        position: unset;
        width: unset;
    }

    #menu-menu>li:last-of-type>ul {
        position: unset;
        width: unset;
    }
}


