/*elements avec header dedans*/


/*Styles generaux*/

header {
    width: 100%;
    margin: 0;
    z-index: 999;
    display: flex;
    position: fixed;
}

header a {
    text-decoration: none;
}

header > nav > ul {
    list-style-type: none;
}

header img.menu-image {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

header figure {
    position: relative;
    width: 10vw;
    height: 8vh;
    margin: 2vh 2vh 0 0;
    text-align: center;
    margin-left: 15px;
    float: left;
    flex: 1;
}

header figure img {
    width: 45px;
    height: 45px;
}

header {
    display: inline-block;
}

header li {
    margin: 0;
}

header li > ul {
    margin: 0;
}

header div.menu-menu-container {
    width: 100vw;
    background-color: black;
}


header a {
    line-height: 38px;
}

/*elements avec ul#menu-menu.menu dedans*/

#menu-menu {
    width: 100%;
    position: relative;
}

ul#menu-menu.menu > img {
    height: 35px;
    width: 35px;
    margin-top: 10px;
}

/*elements avec .menu-item dedans*/


header .menu-item {
    padding: 10px;
    display: block;
    transition: .4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

ul li .sub-menu{
    display: none;
    background-color: black;
}

ul li:hover .sub-menu {
    display: block;
}

ul li:hover header {
    background-color: transparent;
}

/*elements avec submenu dedans*/


.submenu li {
    position: absolute;
    background-color: white;
}


li ul.submenu {
    list-style-type: none;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-left: 5%;
    display: none;
    border-radius: 5px;
}



header .submenu li {
    padding: 3px;
}


/*Version Desktop*/

    li:hover .submenu {
        display: block;
    }

    ul#menu-menu.menu {
        display: flex;
        justify-content: space-between;
    }

    header .menu-item {
        flex: auto;
    }

    header #menu-menu li a {
        padding: 0 10px;
        color: white;
        transition: .4s;
        cursor: pointer;
        display: -webkit-box;
        text-align: left;
    }

    header #menu-menu li a:hover {
        color: orange;
    }

    header .menu-menu-container>ul>.menu-item {
        position: relative;
    }

    header #menu-menu>li>ul {
        position: absolute;
        width: 17vw;
    }

    header #menu-menu>li:last-of-type>ul {
        position: absolute;
        width: 8vw;
    }

    #menu-open-trigger,
    #menu-close-trigger
    {
        display: none;
    }

/*Styles mobiles*/
@media (max-width: 991px) {
    header div.menu-menu-container {
        height: 100vh;
    }

    header {
        top: 0;
        transform: translateX(100%);
        transition: all 0.5s;
    }

    header.menuOpened
    {
        transform: translateX(0%);
    }

    .lock-scroll {
        overflow: hidden;
    }

    ul#menu-menu.menu {
        flex-direction: column;
        justify-content: start;
    }

    #menu-menu{
        padding-top: 50px;
        height: calc( 100vh );
    }

    #menu-menu>li{
        /*padding: 0 10vh;*/
        /*display: flex;
        justify-content: space-between;
        flex-direction: column;*/
        position: relative;
        border-bottom: solid white 1px;
    }

    #menu-menu>li:first-of-type
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #menu-menu>.menu-item-has-children:after{
        content: "";
        width: 15px;
        height: 15px;
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        display: block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: absolute;
        top: 16px;
        right: 29px;
    }

    #menu-menu li a {
        padding: 0 10px;
        color: white;
        transition: .4s;
        cursor: pointer;
        display: -webkit-box;
        width: fit-content;
        padding: 0 10px 10px 10px;
    }

    #menu-menu li a:hover {
        color: orange;
    }

    .menu-menu-container>ul>.menu-item {
        position: unset;
    }

    #menu-menu>li>ul {
        position: unset !important;
        width: unset !important;
        background-color: #131313;
    }

    #menu-menu>li>ul>li ul{
        padding: 0;
        background-color: #131313;
    }

    #menu-menu>li:last-of-type>ul {
        position: unset !important;
        width: unset !important;
    }

    header img.menu-image {
        display: block;
        margin: auto;
    }


    #menu-open-trigger
    {
        display: block;
        background-size: contain;
        height: 50px;
        width: 50px;
        color: white;
    }
    #menu-close-trigger
    {
        display: block;
        background-size: contain;
        height: 40px;
        width: 40px;
        color: white;
    }

    #menu-open-trigger
    {
        position: absolute;
        top: 10px;
        left: -60px;
    }
    body.logged-in #menu-open-trigger
    {
        position: absolute;
        top: 50px;
        left: -60px;
    }
    #menu-close-trigger
    {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    body.logged-in #menu-close-trigger
    {
        position: absolute;
        top: 50px;
        right: 15px;
    }

    #menu-item-1034>a>span{
        display: block;
    }

    #menu-item-1034>a>img{
        display: none;
    }

}




