/*elements avec header dedans*/

header {
    width: 100%;
    margin: 0;
    z-index: 999;
    display: flex;
    position: fixed;
}

header a {
    text-decoration: none;
}

header > nav > ul {
    list-style-type: none;
}

header div.menu-menu-container {
    width: 100vw;
    background-color: black;
}

header figure {
    position: relative;
    width: 10vw;
    height: 8vh;
    margin: 2vh 2vh 0 0;
    text-align: center;
    margin-left: 15px;
    float: left;
    flex: 1;
}

header figure img {
    width: 45px;
    height: 45px;
}

header {
    display: inline-block;
}

header li {
    margin: 0;
}

header li > ul {
    margin: 0;
}


@media (min-width: 991px) {

    ul#menu-menu.menu {
        display: flex !important;
        justify-content: space-between;
    }

    .menu-item {
        flex: auto;
    }

    .menu li a {
        padding: 0 10px;
        color: white;
        transition: .4s;
        cursor: pointer;
        display: -webkit-box;
        text-align: left;
    }

    .menu li a:hover {
        color: orange;
    }


    .menu-menu-container>ul>.menu-item {
        position: relative;
    }

    #menu-menu>li>ul {
        position: absolute;
        width: 14vw;
    }

    .navegacao-mobile {
        display: none !important;
    }
}

.menu-item a img {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    margin-left: 15px;
}

header a {
    line-height: 38px;
}

.navegacao-mobile {
    background: #ccc;
    padding: 10px;
    width: 53px;
    cursor: pointer;
}

.input-menu-all {
    display: none !important;
}

/* elements avec .linha-menu dedans*/

.linha-menu {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background: #555;
    margin: 4px;
    display: block;
}


/*elements avec ul#menu-menu.menu dedans*/

ul#menu-menu.menu {
    display: none;
    width: 100%;
    position: relative;
    /*top: 0;*/
}

ul#menu-menu.menu > img {
    height: 35px;
    width: 35px;
    margin-top: 10px;
}

ul#menu-menu.menu > img:nth-child(1) {
    height: 70px;
    width: 70px;
}




/*elements avec .menu-item dedans*/



.menu-item {
    padding: 10px;
    display: block;
    transition: .4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}



ul li .sub-menu{
    display: none;
    background-color: black;
}

ul li:hover .sub-menu {
    display: block;
}

ul li:hover header {
    background-color: transparent;
}

/*elements avec submenu dedans*/


.submenu li {
    position: absolute;
    background-color: white;
}

/*.input-menu-all {
    display: none !important;
}*/



/*nav {
    width: 100%;
    height: 15vh;
}*/

/*
svg {
    width: 15%;
    height: auto;
}

/*pour la nav*/

/*
nav > ul {
    width: 100%;
    height: 15vh;
    padding: 0;
    margin: 0;
    display: inline-block;
    left: 8px;
    position: relative;
}

nav > ul > li {
    float: left;
    padding: 14px 20px 14px 20px;
    position: relative;
    border-right: white solid 2px;
}*/


li ul.submenu {
    list-style-type: none;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-left: 5%;
    display: none;
    border-radius: 5px;
}

li:hover .submenu {
    display: block;
}

.submenu li {
    padding: 3px;
}

nav > ul > li > a > img, nav > ul > li > img {
    position: relative;
    display: none
}

/*
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}*/