@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

main {
    height: auto;
}

html {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}



/*footer*/

footer {
    width: 100%;
    height: 20vh;
    background-color: #404B49;
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
}

footer div {
    width: 33.333%;

}

footer div:first-child img {
    width: 79px;
    height: auto;
    margin-top: 5vh;
}

footer div:last-child {
    display: inline-block;
    width: 33.333%;

}

footer div:last-child img {
    width: 20%;
    height: auto;
}

footer div:last-child img:first-child {
    width: 20%;
    height: auto;
    background-image: url("../images/images-menu/facebook.png");
}

.reseau {
    float: right;
    padding-right: 5%;
}

/*pour la page d'accueil*/


/*

#img-accueil {
    width: 100%;
    height: 85vh;
    background-image: url("images/fond-accueil.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;

    overflow: hidden;
}
*/

#img-accueil h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 1;

}

/*.img {
    width: 100%;
    height: 85vh;
    background-image: url("images/fond-accueil.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;

}*/

#association {
    width: 100%;
    height: 110vh;
}

/*#index #association img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    width: 20vw;
    height: auto;

}*/


#association div p, h3 {
    display: inline-block;
}


#association div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 100%;
    text-align: center;
    position: relative;
}


#association div:last-child {
    width: 100%;
}

#actu {
    width: 100%;
    height: 100vh;
    background-color: #404B49;
}

#actu div.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 24%;
    text-align: center;
    top: 20vh;

}


.info:first-of-type {
    float: left;
}

.info:last-of-type {
    float: right;
}

#galerie {
    width: 100%;
    height: 120vh;
}

#galerie .grille ul {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 200px 150px 150px;
    grid-column-gap: 6.666%;
    grid-row-gap: 60px;
    width: 90%;
    height: 100vh;
    justify-self: center;
    text-align: center;
    padding-top: 8vh;
    list-style-type: none;
    padding-left: 0;

}

#galerie .grille ul img {
    width: auto;
    height: 20vh;
    transition: .5s;

}

#galerie .grille ul img:hover {
    transform: scale(1.2);
    transition: .5s;
}

#index #galerie .grille div {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

#index #galerie .grille {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 200px 150px 150px;
    grid-column-gap: 6.666%;
    grid-row-gap: 60px;
    width: 90%;
    height: 100vh;
    justify-self: center;
    text-align: center;
    padding-top: 8vh;
    list-style-type: none;
    padding-left: 0;

}

#index #galerie .grille img {
    width: auto;
    height: 20vh;

}

#index .grille div {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

#donation {
    width: 100%;
    height: 100vh;
    background-color: #404B49;
    padding-top: 8vh;
}

#donation div {
    display: block;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}

#donation .button {
    width: 100%;
    height: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#form {
    width: 100%;
    height: 130vh;
    background-color: #9F875C;

}

#form .grille {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 400px;
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

    padding-top: 20vh;
}

#form ul img {
    width: 25px;
    height: auto;
    padding: 0 5px 0 0;
    position: relative;
    top: 1.4vh;

}

/*pour la page s'engager*/

#engager .formulaire {
    width: 100%;
    height: 115vh;
    background-color: #aaaaaa;
}

#engager .formulaire div.haut {
    display: grid;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

}

#engager .formulaire label:last-of-type input, textarea {
    float: right;
    width: 80%;
    height: 8vh;
    margin-right: 20%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#engager .formulaire div.bas {
    display: grid;
    width: 80%;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: auto;

}


#articlType {
    width: 100%;
    height: auto;
}

#articlType img {

    display: block;
    margin: 5vh auto 5vh auto;
    height: auto;
    border-radius: 10px;

}

#histoire {
    width: 100%;
    height: auto;
}

#histoire .date {
    width: 100%;
    height: 35vh;
    background-color: #9F875C;
}

#histoire .date ul {
    width: 100%;
    height: 10vh;
    display: block;
    margin-left: 2%;
    margin-right: auto;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#histoire .date > div > ul > li {
    float: left;
    margin: 0 5% 0 5%;
    width: 8%;

}

#histoire ul {
    width: 100%;
    margin-top: 10vh;
    margin-left: 30%;
    color: #404B49;
}

#participer {
    width: 100%;
    height: 220vh;
}

#participer .participation {
    width: 100%;
    height: 100vh;

}

#participer .donner {
    width: 100%;
    height: 100vh;
    background-color: #404B49;
}

#participer #donation {
    height: 112vh;
}

#dessin {
    width: 100%;
    height: auto;

}

#dessin .liste {
    margin-top: 20vh;
    width: 100%;
    height: 150vh;
}

#dessin .grille ul {
    width: 90%;
    height: 140vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 95vh;
    grid-column-gap: 10%;
    grid-row-gap: 20vh;
    padding: 0;
    list-style-type: none;
    margin-bottom: 20vh;
    border-bottom: 3px solid #9F875C;

}

#dessin .grille {
    width: 100%;
    height: 150vh;
}

#dessin .grille ul > li > img {
    width: 100%;
    height: auto;
}

#dessin .grille ul > li {

    text-align: center
}

/*pour la page présentattion de l'association*/

main#association {
    width: 100%;
    height: 420vh;
}

main#association > div {

    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 25vh;
    width: 100%;
    height: auto;
}

main#association img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    width: 50%;
    height: auto;
}

#galerie .recherche {
    background-color: #9F875C;
    width: 100%;
    height: 45vh;
    margin-top: 10vh;
}

#galerie .grilleButton {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 25% 40% 25%;
    grid-column-gap: 5%;
    grid-template-rows: 25vh;
    text-align: center;

}

.grilleImage ul {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30vh 30vh 30vh 30vh;
    grid-column-gap: 5%;
    grid-row-gap: 25vh;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style-type: none;
}

.grilleImage ul > li {
}

.grilleImage li img {
    width: 100%;
    height: auto;
}

#galerie .image, #dessin .image {
    width: 100%;
    height: auto;
    margin-top: 18vh;

}

main#galerie {
    height: auto;
}

#calendrier {
    width: 100%;
    height: auto;
}

.detail {
    width: 30%;
    height: 30vh;
    border: 2px solid #9F875C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.rechercheEvt {
    width: 100%;
    height: 25vh;
    background-color: #9F875C;
}

.rechercheEvt .grille {
    display: grid;
    width: 80%;
    height: auto;
    grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
    grid-column-gap: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;
}

.container-calendar {
    width: 100%;
    height: 200vh;
}


p.wp-caption-text {
    color: black;
}


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 !important;
    background: white;
    font-family: 'Rubik', sans-serif;
}










/*///////////////////////////////////////////////////////NOUVEAUX STYLES//////////////////////////////////////////////////////*/

/*////////////////////General/////////////////////*/

.header-correction
{
    padding-top: 15vh;
}

h2
{
    color: black;
}

